<% content_for :page_title, 'Sign up' %>
<h1 class="subheader">Sign up</h1>

<p>
    Already a member? <%= link_to "Sign in here", signin_path %>.
</p>

<div class="row"> 
    <div class="small-12 large-6 columns">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :username %>
            <%= f.text_field :username %>

            <%= f.label :email, "Email (optional)" %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "Create new account", class: "button" %>

        <% end %>
    </div>
    <div class="small-12 large-6 columns panel">
        <p>
            Your email is optional and only for forgotten passwords and important
            notifications regarding your account.
        </p>
        <p>
            We do not send newsletters or spam of any sort.
        </p>
    </div>
</div>
