<% ajax ||= false %>
<div class="memo memo-full">
    <div class="memo-headers" data-memo-id="<%= memo.token %>">
        <span class="memo-header">Subject: </span><%= memo.subject %><br>
        <span class="memo-header">From: </span><%= link_to "#{ memo.user.username }", user_path(memo.user.id) %><br>
        <span class="memo-header">Memo ID: </span><%= link_to "#{ memo.token }", memo_path(memo.token) %><br> 
        <span class="memo-header">Posted <%= time_ago_in_words(memo.created_at) %> ago: </span>
            <%= memo.created_at.strftime("%A, %B %d, %Y") %> 
    </div>

    <div class="memo-content">
        <%= memo_content(memo.content, remote: ajax) %>
    </div>

    <% if memo.child_memos.any? %>
        <div class="memo-headers">
            <span><%= "This memo is referenced #{ memo.child_memos.count } times:" %> 
                <% memo.child_memos.each do |child| %>
                    <%= link_to child.token, memo_path(child.token), remote: ajax %>, 
                <% end %>
            </span>
        </div>
    <% end %>

    <% if ajax && current_user %>
        <%= link_to "Reply", new_memo_path, remote: true, 
            class: "button round small post-memo" %>
    <% end %>

</div>
