<% ajax ||= false %>
<%= form_for(memo, remote: ajax) do |f| %>
    <% if ajax %>
        <span class="subheader">Reply:</span>
        <hr>
    <% end %>

    <div class="panel">
        <p class="small">
            To reply to a memo, simply include 
            "<code>@(memo-id)</code>" somewhere in
            your content. For example, to reply to memo <code>1Y2</code>, type
            "<code>@1Y2</code>".
            <br>
            You can reply to many memos at once!
        </p>
    </div>

    <% if memo.errors.any? %>
        <div id="error-explanation">
            <div class="alert-box alert">
                Yikes! Looks like we've got some errors:
            </div>
            <ul>
                <% memo.errors.full_messages.each do |m| %>
                    <li> <%= m %>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <%= f.label :subject %>
    <%= f.text_field :subject %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit "Post memo", class: "mr-button round small" %>

<% end %>

<% if ajax %>
    <hr>
    <p class="small">
        You can close this panel and reopen it later by clicking the "reply"
        button of any memo on this page. This way you can reply to more than one memo
        in the conversation.
        <br>
        Your content will not be erased while you remain on this page.
    </p>
    <a class="close-reveal-modal">x</a>
<% end %>
