<% ajax ||= false %>
<div class="memo memo-full">
    <div class="memo-identifier">
        <span class="small">Memo ID:</span><br>
        @<%= memo.token %>
    </div>

    <div class="memo-wrapper">
        <div class="memo-header" data-memo-id="<%= memo.token %>">
            <div class="memo-title"><%= link_to "#{ memo.subject }", memo_path(memo.token) %></div><br>
        </div>

        <div class="memo-content">
            <!-- TODO: remote: ajax -->
            <%= memo_content(memo.content, remote: false) %>
        </div>
        
        <hr>

        <div class="memo-footer">
            <span class="small"><%= memo.created_at.strftime("%A, %B %d, %Y") %> 
                (<%= time_ago_in_words(memo.created_at) %> ago)<br></span>
            <span class="small">User: <%= link_to "#{ memo.user.username }", 
                user_path(memo.user.id) %> | </span>    

            <% if memo.child_memos.any? %>
                <span class="small"><%= "#{ memo.child_memos.count } replies" %> | </span> 
            <% else %>
                <span class="small">0 replies | </span>
            <% end %>

            <% if current_user %>
                <%= link_to "Reply", new_memo_path(memo_token: memo.token), remote: ajax, 
                    class: "small" %>
            <% end %>
        </div>
    </div>
</div>
