<div class="memo">
    <div class="memo-headers">
        <span class="memo-header">Subject: </span><%= memo.subject %><br>
        <span class="memo-header">From: </span><%= link_to "#{ memo.user.username }", user_path(memo.user.id) %><br>
        <span class="memo-header">Memo ID: </span><%= link_to "#{ memo.id.to_s(36).upcase }", memo_path(memo.id) %><br> 
        <span class="memo-header">Posted <%= time_ago_in_words(memo.created_at) %> ago: </span>
            <%= memo.created_at.strftime("%A, %B %d, %Y") %> 
    </div>

    <div class="memo-content">
        <%= raw simple_format(memo.content).gsub(/@([a-z0-9A-Z]+)/, '<a  data-remote="true" class="marker" href="/memos/\1">@\1</a>')%>
    </div>
</div>
