<% ajax ||= false %>
<div class="memo memo-min" id="memo-min-<%= memo.token %>">
    <div class="memo-identifier">
        <span class="small">Memo ID:</span><br>
        @<%= memo.token %>
    </div>
    <div class="memo-wrapper<%= ' nsfw' if memo.nsfw? %>">
        <div class="memo-header">
            <div class="memo-title">
                <%= link_to "#{ memo.subject }", memo_path(memo.token), remote: ajax %>
            </div>

            <span class="small">
                <%= memo.created_at.strftime("%A, %B %d, %Y") %> 
                    (<%= time_ago_in_words(memo.created_at) %> ago)<br>
            </span>

            <span class="small">By: <%= link_to "#{ memo.user.username }", 
                user_path(memo.user.username) %> | </span>

            <span class="small">
                <%= memo.child_memos.count %> replies 
            </span>

            <% if memo.parent_memos.any? %>
                <span class="small">| Is a reply to:  
                    <% memo.parent_memos.each do |parent| %>
                        <%= link_to "@#{ parent.token }", memo_path(parent.token), remote: ajax %> 
                    <% end %>
                 </span> 
            <% end %>
        </div>
    </div>
</div>
