<div class="memo memo-min" id="memo-min-<%= memo.token %>">
    <div class="memo-identifier">
        <span>Memo ID:</span><br>
        <%= memo.token %>
    </div>
    <div class="memo-headers">
        <span class="memo-header">Subject: </span>
        <%= link_to "#{ memo.subject }", memo_path(memo.token) %><br>
        <span class="memo-header">Posted <%= time_ago_in_words(memo.created_at) %> ago: </span>
            <%= memo.created_at.strftime("%A, %B %d, %Y") %><br>
        <span class="memo-header">By: </span><%= link_to "#{ memo.user.username }", user_path(memo.user.id) %>
    </div>
</div>
