<% ajax ||= false %>
<div class="memo memo-full">
    <div class="memo-identifier">
        <span class="small">Memo ID:</span><br>
        @<%= memo.token %>
    </div>

    <div class="memo-wrapper">
        <div class="memo-header" data-memo-id="<%= memo.token %>">
            <div class="memo-title"><%= link_to "#{ memo.subject }", memo_path(memo.token) %></div><br>
            <hr>
        </div>

        <div class="memo-content">
            <%= memo_content(memo.content, remote: ajax) %>
        </div>
        
        <hr>

        <div class="memo-footer">
            <span class="small"><%= memo.created_at.strftime("%A, %B %d, %Y") %> 
                (<%= time_ago_in_words(memo.created_at) %> ago)<br></span>
            <span class="small">User: <%= link_to "#{ memo.user.username }", 
                user_path(memo.user.id) %> | </span>    

            <span class="small">
                <% if ajax %>
                    <%= link_to "#{ memo.child_memos.count } replies", 
                        memo_replies_path(memo.token), remote: true %> |
                <% else %>
                    <%= memo.child_memos.count %> replies |
                <% end %>
            </span>

            <% if current_user %>
                <%= link_to "Reply", new_memo_path(memo_token: memo.token), remote: true, 
                    class: "small" %>
            <% else %>
                <%= link_to "Reply", new_memo_path(memo_token: memo.token), remote: false, 
                    class: "small" %>
            <% end %>

            <% if current_user && current_user.admin? %>
                <span class="small"> | 
                    <%= link_to "Delete", memo.token, method: :delete, 
                        data: { confirm: "Are you sure?" } %> 
                </span>
            <% end %>
        </div>
    </div>
</div>
