<div class="memo memo-min" id="memo-min-<%= memo.token %>">
    <div class="memo-identifier">
        <span class="small">Memo ID:</span><br>
        @<%= memo.token %>
    </div>
    <div class="memo-headers">
        <div class="memo-title"><%= link_to "#{ memo.subject }", memo_path(memo.token) %></div><br>
        <span class="small"><%= memo.created_at.strftime("%A, %B %d, %Y") %> 
            (<%= time_ago_in_words(memo.created_at) %> ago)<br></span>
        <span class="small">User: <%= link_to "#{ memo.user.username }", user_path(memo.user.id) %></span>    
    </div>
</div>
