<header class="small-12 columns container">
    <div class="row">
        <hgroup class="small-12 large-6 columns" id="header-title">
            <span id="logo"><%= link_to "MemoRabble", root_path %> 
            <span class="small">(alpha)</span></span><br>
            <% unless current_user %>
                <span class="small">MemoRabble is still in development. I'm adding new features 
                all the time.<br>
                Sign up and try it out! (No email required.)</span>
            <% end %>
        </hgroup> 
        <div class="small-12 large-6 columns">
            <dl class="sub-nav" id="mini-nav">
                <dt></dt>
                    <dd><%= link_to 'Home', root_path %>
                    <dd><%= link_to 'About', about_path %></dd>
                <% if current_user %>
                    <dt><%= current_user.username.capitalize %>:</dt>
                        <dd><%= link_to 'Profile', user_path(current_user.id) %></dd>
                        <dd><%= link_to 'Inbox', inbox_path %></dd>
                        <dd><%= link_to 'Sign out', :signout, method: 'delete' %></dd>
                <% else %>
                    <dt>User:</dt>
                        <dd><strong><%= link_to 'Sign in', signin_path %></strong></dd>
                        <dd><strong><%= link_to 'Sign up', signup_path %></strong></dd>
                <% end %>
            </dl>
            <%= link_to "Post a memo", new_memo_path, 
                class: "mr-button round small post-memo",
                id: "main-post-button" %>
        </div>
    </div>
</header>

