<!DOCTYPE html>
<%= render 'layouts/head' %>
<body>
    <div id="main">
        <div class="row">
            <%= render 'layouts/header' %>
        </div>
        <div class="row">
            <% flash.each do |k, v| %>
                <div class="alert-box <%= k %>">
                    <%= v %>
                </div>
            <% end %>
            <div class="small-12 columns">
                <%= yield %>
            </div>
        </div>
        <div class="row">
            <%= render 'layouts/footer' %>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
</body>
</html>
